absl-py==1.4.0
alabaster==0.7.8
astunparse==1.6.3
attrs==19.3.0
Automat==0.8.0
Babel==2.6.0
blinker==1.4
cachetools==5.3.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==21.2
colorama==0.4.3
coloredlogs==15.0.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contextlib2==21.6.0
cryptography==2.8
cycler==0.10.0
dbus-python==1.2.16
dill==0.3.4
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
docopt==0.6.2
docutils==0.16
EasyProcess==1.1
eigency==1.80
entrypoint2==1.1
entrypoints==0.3
feedparser==5.2.1
filelock==3.6.0
flatbuffers==23.5.26
gast==0.4.0
gitsome==0.8.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.54.2
h5py==3.7.0
httplib2==0.14.0
humanfriendly==10.0
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
importlib-metadata==6.6.0
incremental==16.10.1
jax==0.4.10
Jinja2==2.10.1
joblib==1.2.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keras==2.12.0
keyring==18.0.1
kiwisolver==1.3.2
kosh==2.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==16.0.0
llnl-sina==1.12.0
maestrowf==1.1.9
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.4.3
mdurl==0.1.2
ml-dtypes==0.1.0
more-itertools==4.2.0
mpi4py==3.0.3
netifaces==0.10.4
networkx==2.8.4
numexpr==2.8.3
numpy==1.22.4
numpydoc==0.7.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
orjson==3.7.7
packaging==20.3
pandas==1.3.3
patool==1.12
pexpect==4.6.0
Pillow==8.3.2
platformdirs==2.5.1
ply==3.11
PolyFlow @ file:///home/cooperkhansen/src/PolyFlow
prompt-toolkit==2.0.10
protobuf==4.23.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.15.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
pytz==2021.3
pyunpack==0.3
PyYAML==5.3.1
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rich==13.3.5
roman==2.0.0
rsa==4.9
schema==0.7.5
scikit-learn==1.2.2
scipy==1.7.1
SecretStorage==2.3.1
service-identity==18.1.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
sos==4.1
Sphinx==1.8.5
SQLAlchemy==1.4.39
ssh-import-id==5.10
systemd-python==234
tables==3.7.0
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.1.0
Twisted==18.9.0
typing_extensions==4.6.2
ubuntu-advantage-tools==27.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.13.4
wadllib==1.3.3
wcwidth==0.1.8
Werkzeug==2.3.4
wrapt==1.14.1
xonsh==0.9.13
zipp==1.0.0
zope.interface==4.7.1
